<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ziwei.ratedisplay">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/widget_icon"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".RateWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rate_widget_info" />
        </receiver>
        <service
            android:name=".RateWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
        <receiver
            android:name=".RefreshReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ziwei.ratedisplay.REFRESH" />
                <action android:name="com.ziwei.ratedisplay.AUTO_REFRESH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
